<%= simple_form_for :session, url: session_path do |f| %>
  <div class="text-field">
    <%= f.input :email, autocomplete: :email %>
  </div>

  <div class="password-field">
    <%= f.input :password, autocomplete: 'current-password' %>
  </div>

  <div class="submit-field">
    <%= f.submit %>
  
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
