<h1>Listing Webinars</h1>

<% @webinars.each do |webinar| %>

<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <p><%= webinar.title %></p>
      <p><%= webinar.live_date %></p>
    </div>
    <div class="card-copy">
      <p><%= webinar.description %></p>
      <p><%= webinar.presenter_id %></p>
      <p><%= webinar.webinar_url %></p>
      <p><%= link_to 'Show', webinar_path(webinar) %></p>
      <p><%= link_to 'Join', join_webinar_path(webinar) %></p>
    </div>
  </div>  
<% end %>
