<h1>Listing Webinars</h1>

<% @webinars.upcoming.each do |webinar| %>
<div class="side-image">
  <div class="images-wrapper">
    <div class="side-image-content">
      <h2><%= webinar.title %></h2>
      <time><%= l(webinar.live_date, format: :default) %></time>
    </div>
  </div>
  <h3>Description</h3>
  <p><%= webinar.description %></p>
  <p>Presenter: <%= Presenter.find(webinar).name if webinar.presenter_id.present? %></p>
  <p><%= link_to webinar.webinar_url if webinar.live? %></p>
  <section class="webinar-controls">
    <p><%= link_to 'Show', webinar_path(webinar) %></p>
    <p><%= link_to 'Join', join_webinar_path(webinar) %></p>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Edit Webinar Details', edit_admin_webinar_path(webinar) %>
    <% end %>
  </section>
</div>
<% end %>
