<h1>Join</h1>
<p>
  <strong>Live date:</strong>
  <%= @webinar.live_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @webinar.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @webinar.description %>
</p>

<p>
  <strong>Presented by </strong><%= @webinar.presenter.name if @webinar.presenter_id?%>
</p>

<aside class="join">
<%= simple_form_for [@webinar, @attendee] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :school_name %>
    <%= f.input :active_user, inline_label: t(".active_user") %>
    <%= f.association %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Join" %>
  </div>
<% end %>
</aside>
<%= link_to 'Back', webinars_path %>
