<h2><%= @webinar.title %></h2>
<p><%= @webinar.description.html_safe %></p>
<p>
  <strong>Date:</strong>
  <%= l(@webinar.live_date, format: :default) %>
</p>

<p>
  <strong>Presenter:</strong>
  <%= @webinar.presenter.name %>
</p>
<br />
<section class="full-width">
  <p><%= link_to 'Register', join_webinar_path(@webinar), class: 'btn' %> | <%= link_to 'Back to list', webinars_path %></p>
</section>
