<p>
  <strong>Date:</strong>
  <%= l(@webinar.live_date, format: :default) %>
</p>

  <h2><%= @webinar.title %></h2>
  <p><%= @webinar.description %></p>

<p>
  <strong>Presenter:</strong>
  <%= @webinar.presenter_id %>
</p>
<%= @webinar.webinar_url %>

<section class="webinar-controls">
  <%= link_to 'Register', join_webinar_path(@webinar) %>
  <%= link_to 'Back to list', webinars_path %>
</section>
