<h1>Listing Attendees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Active user</th>
      <th>School name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.email %></td>
        <td><%= attendee.active_user %></td>
        <td><%= attendee.school_name %></td>
        <td><%= link_to t(".show"), attendee %></td>
        <td><%= link_to t(".edit"), edit_admin_attendee_path(attendee) %></td>
        <td><%= link_to t('.destroy'), attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
