<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee.email %>
</p>

<p>
  <strong>Active user:</strong>
  <%= @attendee.active_user %>
</p>

<p>
  <strong>School name:</strong>
  <%= @attendee.school_name %>
</p>

<h3>Registered for: <%= @webinars.count %> webinars</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Registered?</th>
      <th>Attended?</th>
    </tr>
  </thead>
  <tbody>
  <% @attendee.webinars.each do |webinar| %>
    <tr>
      <td><%= l(webinar.live_date, format: :short) %></td>
      <td><%= webinar.title %></td>
      <td><%= @attendee.registered?(webinar) %></td>
      <td><%= @attendee.attended?(webinar) %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Back', attendees_path %>
