<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attendee.email %>
</p>

<p>
  <strong>Active user:</strong>
  <%= @attendee.active_user %>
</p>

<p>
  <strong>School name:</strong>
  <%= @attendee.school_name %>
</p>

<h3>Webinars Registered for: <%= @webinars.count %></h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Attended?</th>
    </tr>
  </thead>
  <tbody>
  <% @attendee.webinars.each do |webinar| %>
    <tr>
      <td><%= webinar.live_date %></td>
      <td><%= webinar.title %></td>
      <td><%= webinar.attended %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%= link_to 'Edit', edit_admin_attendee_path(@attendee) %> |
<%= link_to 'Back', admin_attendees_path %>

<%= debug @webinars %>
