  <header>
    <nav>
      <%= link_to image_tag("email/TTV_logo.png", width: 230), root_path %>
      <ul class="left">
      <% if signed_in? %>
        <% if current_user.admin? %>
          <li class="nav-link">
            <%= link_to admin_webinars_path do %>
              <% t(".webinars") %>
            <% end %>
          <li class="nav-link"><%= link_to t(".attendees"), attendees_path %>
          <li class="nav-link"><%= link_to t(".presenters"), presenters_path %>
        <% end %>
        <li class="nav-link"><%= link_to sign_out_path, method: :delete do %>
          <%= t("layouts.application.sign_out") %>
          <% end %>
      <% end %>
      </ul>
      <ul class="right">
        <li class="nav-link"><a href="//www.trilbytv.co.uk" >Back to www.trilbytv.co.uk</a>
      </ul>
    </nav>
  </header>
