<table>
  <tr>
    <th>Name</th>
    <th>School/Company</th>
    <th>Attended?</th>
    <th>Telephone</th>
    <th>Notes</th>
    <th>Mark as Attended</th>
  </tr>
  <% if !webinar.attendees.nil? %>
    <% webinar.attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %> <%= link_to raw('<i class="fa fa-envelope" aria-hidden="true"></i>
'), "mailto:#{attendee.email}?Subject=TrilbyTV%20Webinar - #{webinar.title}" %></td>
        <td><%= attendee.school_name %></td>
        <td><%= attendee.attended?(@webinar) %></td>
        <td><%= attendee.contact_number %></td>
        <td><%= attendee.notes %></td>
        <td><% if webinar.attendable(attendee) %>
              <%= form_for :mark_as_attended, url: webinar_attendee_attended_path(attendee, webinar), html: { method: :patch } do |form| %>
              <%= form.submit "Mark attended" %>
              <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
    <h3>Attendee Email List</h3>
    <p>You can use this in your email To field</p>
    <% @webinar.attendees.each do |a| %>
      <%= a.email %>,
    <% end %>
  <% else %>
    <tr>
      <td colspan="7"><p>No attendees registered</p></td>
    </tr>
  </table>
<% end %>
