<table>
  <thead>
    <tr>
      <th>Webinar date</th>
      <th>Title</th>
      <th>Presenter</th>
      <th>Attendees</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% webinars.each do |webinar|  %>
      <tr>
        <td><%= l(webinar.live_date, format: :date) %></td>
        <td><%= link_to webinar.title, admin_webinar_path(webinar) %></td>
        <td><%= webinar.presenter.name if webinar.presenter_id.present? %></td>
        <td><%= webinar.attendees.count %>
        <td><%= link_to "View Public", webinar_path(webinar) if webinar.active? %></td>
        <td><%= link_to t('helpers.actions.edit'), edit_admin_webinar_path(webinar) %></td>
        <td><%= button_to "Duplicate", admin_webinar_duplicate_path(webinar) %></td>
        <td><%= button_to t('helpers.links.destroy'), [:admin, webinar], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
