<p id="notice"><%= notice %></p>

<h1>Listing Webinars</h1>

<table>
  <thead>
    <tr>
      <th>Live date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Presenter</th>
      <th>Webinar url</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webinars.each do |webinar| %>
      <tr>
        <td><%= webinar.live_date %></td>
        <td><%= webinar.title %></td>
        <td><%= webinar.description %></td>
        <td><%= webinar.presenter_id %></td>
        <td><%= webinar.webinar_url %></td>
        <td><%= webinar.active %></td>
        <td><%= link_to 'Show', admin_webinar_path(webinar) %></td>
        <td><%= link_to 'Edit', edit_admin_webinar_path(webinar) %></td>
        <td><%= link_to 'Destroy', [:admin, webinar], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webinar', new_admin_webinar_path %>
