<%= render 'shared/webinar_detail' %>
<p><span class="label">Webinar URL:</span>
  <%= link_to @webinar.webinar_url, @webinar.webinar_url, target: :blank %>
</p>

<%= link_to t(".edit"), edit_admin_webinar_path(@webinar), class: 'btn' %>
<%= link_to t("helpers.actions.back"), admin_webinars_path, class: 'btn' %>

<section>
<h3>Attendees</h3>
<% if !@webinar.active? %>
  <p>Webinar is not active yet.</p>
  <% if @webinar.viewable? %>
    <%= simple_form_for([:admin, @webinar], url: admin_webinar_publish_path(@webinar)) do |f| %>
      <%= f.button :submit, t(".publish") %>
    <% end %>
    <% end %>
  <% else %>
  <%= render 'admin/webinars/attendees' %>
<% end %>

<h4>Attendee Email List</h4>
<p>You can use this in your email To field</p>
<% @webinar.attendees.each do |a| %>
  <%= a.email %>,
<% end %>
</section>
