<p>
  <strong>Live date:</strong>
  <%= l(@webinar.live_date, format: :default) %>
</p>

  <h2><%= @webinar.title %></h2>
  <p><%= @webinar.description %></p>

<p>
  <strong>Presenter:</strong>
  <%= @presenter.name if @presenter.present? %>
</p>

<p>
  <strong>Webinar url:</strong>
  <%= @webinar.webinar_url %>
</p>

<% if !@webinar.viewable? %>
  <%= simple_form_for([:admin, @webinar]) do |f| %>
    <%= f.hidden_field  :active, value: true %>
    <%= f.button :submit, "Publish" %>
  <% end %>
<% end %>

<%= link_to t(".edit"), edit_admin_webinar_path(@webinar), class: 'btn' %> |
<%= link_to t("helpers.actions.back"), admin_webinars_path, class: 'btn' %>

<h3>Attendees</h3>
<% if @webinar.active? %>
  <%= render 'admin/webinars/attendees' %>
<% else %>
<p>Webinar is not active yet.</p>
<% end %>
