<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="/favicon.png" sizes="96x96" type="image/png">
  <link rel="apple-touch-icon" href="/apple-icon-1024x1024.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#49aea3" />
  <title><%= page_title %><%= " — #{t 'title.application'}" if page_title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <script src="https://use.fontawesome.com/e264cc1506.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <% if !Rails.env.production? %>
    <div class="env env-<%= Rails.env %>">Environment: <%= Rails.env %></div>
  <% end %>
  <%= render "header" %>
  <%= render "flashes" %>
  <section class="content">
    <%= yield %>
  </section>
  <%= render "footer" %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
